
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.project-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    max-width: calc(50% - 20px);
}

.project-image {
    max-width: 500px;
    height: auto;
    margin-bottom: 10px;
}

.project-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.project-description {
    font-size: 14px;
    margin-bottom: 10px;
}

.project-rating {
    font-size: 16px;
    color: #f39c12;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
