.navbar {
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: end;
}

.navbar p {
    margin: 0;
}

#user-content {
    display: none;
}

#user-login {
    display: none;
}